<% include header %>
<header class="row-fluid text-center">
	<h1>Ntalk</h1>
	<hr>
	<h4>Infelizmente essa página não existe :(</h4>
</header>
<hr>
<p>Vamos voltar <a href="/">home page?</a> :) </p>
<% include footer %>