<% include header %>
<header class="row-fluid text-center">
	<h1>Ntalk</h1>
	<h4>Aconteceu algo terrível! :(</h4>
</header>
<section class="row-fluid text-center">
	<p class="text-left">
		Veja os detalhes do erro:
		<br>
		<%- error.message %>
		<hr>
		<p>Que tal voltar <a href="/">home page?</a> :)</p>
	</p>
</section>

<% include footer %