<% include ../header %>
<header class="row-fluid text-center">
	<h2>Ntalk - Editar Contato</h2>
</header>
<section class="row-fluid text-center">
	<form action="/contato/<%- contato._id %>" method="post" class="well form-inline">
		<input type="hidden" name="_method" value="put">
		<label>Nome:</label>
		<input type="text" name="contato[nome]" value="<%- contato.nome %>" class="input-medium">
		<label>E-mail:</label>
		<input type="text" name="contato[email]" value="<%- contato.nome %>" class="input-medium">
		<button type="submit" class="btn btn-primary">Atualizar</button>
	</form>	
</section>
<% include ../exit %>
<% include ../footer %>