<script src="/scoket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://localhost:3000');

	var notify = function(data) {
		var id = 'notify_' + data.el;
		var notify = document.getElementById(id);
		notify.textContext = data.msg;
	};

	sockets.on('notify-onlines', function(email) {
		notify({el: email, msg: 'Online', classes: 'label label-success'});
	});

	sockets.on('notify-offline', function(email) {
		notify({el: email, msg: 'Offline', classes: 'label'});
	});

	sockets.on('new-message', function(data) {
		notify({el: data.email, msg: 'Mensagem', classes: 'label label-important'})
		var id = 'chat_' + data.email;
		var chat = document.getElementById(id);
		chat.href += '?' + data.sala;
	});	
</script>