<% include ../header %>
<header class="row-fluid text-center">
	<h2>Ntalk - Editar Contato</h2>
</header>
<section class="row-fluid text-center">
	<form action="/contato/<%- id %>" method="post" class="well form-inline">		
		<label>Nome:</label>
		<span class="input-medium uneditable-input"><%- contato.nome %></span>
		<label>E-mail:</label>
		<span class="input-medium uneditable-input"><%- contato.email %></span>
		<a href="/contato/<%- contato._id %>/editar" class="btn btn-info">Editar</a>
		<button type="submit" class="btn btn-danger">Excluir</button>
</section>
<% include ../exit %>
<% include ../footer %>